<html>
<head>
  <title>A Leaflet map!</title>
  <link rel="stylesheet" href="../static/css/leaflet.css"/>
  <link rel="stylesheet" href="./static/css/bootstrap.min.css">
  <link rel="stylesheet" href="./static/css/style.css">
  <script src="../static/js/leaflet.js"></script>
  <script src="../static/js/jquery.min.js"></script>

  <style>
    #map{ 
      height: 100%;
      width: 60%;
    }
  </style>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="./">311 Data</a>
        </div>
      </div>
    </div>
  <section id="cover">
      <h1 class="display-3">311 Complaints Data Visualization</h1>
  </section>
'Noise - Residential' 'Street Condition', 'PLUMBING',
       'Blocked Driveway', 'Water System', 'Street Light Condition',
       'Noise', 'ELECTRIC', 'Dirty Conditions', 'Noise - Commercial',
       'Damaged Tree', 'Sanitation Condition', 'Traffic Signal Condition',
       'Rodent']
  <section id="mapSection">
    <div id="map"></div>


<form>
      <input type="radio" name="complaint" onclick="check(this.value)" value="Noise - Residential">Noise - Residential<br>
      <input type="radio" name="complaint" onclick="check(this.value)" value="Street Condition">Street Condition<br>
      <input type="radio" name="complaint" onclick="check(this.value)" value="PLUMBING">PLUMBING<br>
      <input type="radio" name="complaint" onclick="check(this.value)" value="Blocked Driveway">Blocked Driveway<br>
      <input type="radio" name="complaint" onclick="check(this.value)" value="Water System">Water System<br>
      <input type="radio" name="complaint" onclick="check(this.value)" value="Street Light Condition">Street Light Condition<br>
      <input type="radio" name="complaint" onclick="check(this.value)" value="Noise">Noise<br>
      <input type="radio" name="complaint" onclick="check(this.value)" value="ELECTRIC">ELECTRIC<br>
      <input type="radio" name="complaint" onclick="check(this.value)" value="Dirty Conditions">Dirty Conditions<br>
      <input type="radio" name="complaint" onclick="check(this.value)" value="Noise - Commercial">Noise - Commercial<br>
      <input type="radio" name="complaint" onclick="check(this.value)" value="Damaged Tree">Damaged Tree<br>
      <input type="radio" name="complaint" onclick="check(this.value)" value="Sanitation Condition">Sanitation Condition<br>
      <input type="radio" name="complaint" onclick="check(this.value)" value="Traffic Signal Condition">Traffic Signal Condition<br>
      <input type="radio" name="complaint" onclick="check(this.value)" value="Rodent">Rodent<br>
      <br>   
      <input type="text" id="answer" size="20">
</form>



  </section>

  <script>
function check(complaint) {
    document.getElementById("answer").value=complaint;
}
  // initialize the map
  var map = L.map('map').setView([40.7128, -74.0059], 11);

  // load a tile layer
  L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png',
    {
      maxZoom: 15,
      minZoom: 11
    }).addTo(map);


  // this takes the image and puts a layer on top
  var imgPath = 'data311/kdelayer/';
  var imageUrl = imgPath + 'foo.png',
    imageBounds = [[40.484300, -74.275076], [40.915760, -73.695027]]; //working
    // imageBounds = [[40.495628, -74.255819], [40.913253, -73.700065]];
  L.imageOverlay(imageUrl, imageBounds).addTo(map);


  // this function will take nyczipcode geojson file an make boundaries
  var nyczipcodefile = "data311/zipcode/nyczipcodes.geojson";
  $.getJSON(nyczipcodefile, function(hoodData) {
    L.geoJson( hoodData,{style: { color: "#000000", fillColor: "#f7f7f7", weight: 5 }, 
    onEachFeature: function( feature, layer ){
      layer.bindPopup( "<strong>" + feature.properties.postalCode + "</strong><br/>" +
                       "<strong>" + feature.properties.PO_NAME + "</strong><br/>" +
                       "<strong>" + feature.properties.borough + "</strong><br/>")
    }
    }).addTo(map);
  });
  

  // when you click on any point in the map, it will return the latitude and longitude
  map.on('click', function(e) {
    alert("Lat, Lon : " + e.latlng.lat + ", " + e.latlng.lng)
  });

//   //load the zipcodes
//   $.getJSON("neighborhoods.geojson", function(hoodData) {
//     L.geoJson( hoodData, {
//     style: function(feature){
//       var fillColor,
//           density = feature.properties.density;
//       if ( density > 80 ) fillColor = "#006837";
//       else if ( density > 40 ) fillColor = "#31a354";
//       else if ( density > 20 ) fillColor = "#78c679";
//       else if ( density > 10 ) fillColor = "#c2e699";
//       else if ( density > 0 ) fillColor = "#ffffcc";
//       else fillColor = "#f7f7f7";  // no data
//       return { color: "#999", weight: 1, fillColor: fillColor, fillOpacity: .6 };
//     },
//     onEachFeature: function( feature, layer ){
//       layer.bindPopup( "<strong>" + feature.properties.Name + "</strong><br/>" + feature.properties.density + " rats per square mile" )
//     }
//   } ).addTo(map);
//   });
  
// for each rodent
//   // load GeoJSON from an external file
//   $.getJSON("rodents.geojson",function(data){
//     L.geoJson(data, {
//       pointToLayer: function(feature,latlng) {
//         var marker = L.marker(latlng,{});
//         marker.bindPopup(feature.properties.Location + '<br/>' + feature.properties.OPEN_DT);
//         return marker;
//       }
//     }).addTo(map);
    
    // add GeoJSON layer to the map once the file is loaded

  
  </script>

</body>
</html>