<html>
<head>
  <title>A Leaflet map!</title>
      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"
  integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ=="
  crossorigin=""/>
  <!--   <link rel="stylesheet" href="../static/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="../static/css/slider.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
 <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"
  integrity="sha512-A7vV8IFfih/D732iSSKi20u/ooOfj/AGehOKq0f4vLT1Zr2Y+RX7C+w8A1gaSasGtRUZpF/NZgzSAu4/Gc41Lg=="
  crossorigin=""></script>
  <script src="../static/js/jquery.min.js"></script>
  <!-- <script src="../static/js/bootstrap-min.js"></script> -->
  <script src="../static/js/bootstrap-slider.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="http://d3js.org/topojson.v1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
  <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>

</head>

<body>
<!-- Nav bar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">311 Data Visualization</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Complaint Type <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#mapSection"> <input type="radio" name="complaint" onclick="check(this.value)" value="Noise - Residential" checked="true" > Noise - Residential</a></li>
            <li><a href="#mapSection"> <input type="radio" name="complaint" onclick="check(this.value)" value="Street Condition"> Street Condition</a></li>
            <li><a href="#mapSection"><input type="radio" name="complaint" onclick="check(this.value)" value="PLUMBING"> Plumbing</a></li>
            <li><a href="#mapSection"><input type="radio" name="complaint" onclick="check(this.value)" value="Blocked Driveway"> Blocked Driveway</a></li>
            <li><a href="#mapSection"><input type="radio" name="complaint" onclick="check(this.value)" value="Water System"> Water System</a></li>
            <li><a href="#mapSection"><input type="radio" name="complaint" onclick="check(this.value)" value="Street Light Condition"> Street Light Condition</a></li>
            <li><a href="#mapSection"><input type="radio" name="complaint" onclick="check(this.value)" value="Noise"> Noise</a></li>
            <li><a href="#mapSection"><input type="radio" name="complaint" onclick="check(this.value)" value="ELECTRIC"> Electric</a></li>
            <li><a href="#mapSection"><input type="radio" name="complaint" onclick="check(this.value)" value="Dirty Conditions"> Dirty Conditions</a></li>
            <li><a href="#mapSection"><input type="radio" name="complaint" onclick="check(this.value)" value="Noise - Commercial"> Noise - Commercial</a></li>
            <li><a href="#mapSection"><input type="radio" name="complaint" onclick="check(this.value)" value="Damaged Tree"> Damaged Tree</a></li>
            <li><a href="#mapSection"><input type="radio" name="complaint" onclick="check(this.value)" value="Sanitation Condition"> Sanitation Condition</a></li>
            <li><a href="#mapSection"><input type="radio" name="complaint" onclick="check(this.value)" value="Traffic Signal Condition"> Traffic Signal Condition</a></li>
            <li><a href="#mapSection"><input type="radio" name="complaint" onclick="check(this.value)" value="Rodent"> Rodent</a></li>
          </ul>
        </li>
        <li class="dropdown">
        <li><a href="#mapSection"> <input id="NormalizedID" type="radio" name="toggleType" value="Normalized" > Normalized</a></li>
        <li><a href="#mapSection"> <input id="UnnormalizedID" type="radio" name="toggleType" value="UnNormalized" checked="True" > Unnormalized</a></li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- End Nav Bar -->

<section id="cover">
    <h1 class="display-3">311 Complaints Data Visualization</h1>
</section>

<section id="mapSection">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div id="map"></div>
      </div>

    <!--slider-->
    <input id="monthSlider" data-slider-id='pointerSlide' type="text" data-slider-min="0" data-slider-max="83" data-slider-step="1" data-slider-value="0" value="0"/>
    <!-- what it says visually for humans-->
    <div class="wrapper">
      <span><span id="timeValue1">January 2010</span></span> <br>
    </div>

    <input id="from" type="hidden" name="from" value="2010-01-00 00:00:00">
<!--       </form> -->
<!--       </div> -->
  </section>


<!--JAVASCRIPT HERE-->
  <script>
    // initialize the map
    var map = L.map('map').setView([40.7128, -74.0059], 11);

    // load a tile layer
    L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png',
      {
        maxZoom: 15,
        minZoom: 11
      }).addTo(map);

    // LOADING ZIPCODES
    var nyczipcodefile = "../static/data311/zipcode/nyczipcodes.geojson";
    $.getJSON(nyczipcodefile, function(data) {
      geojsonlayer = L.geoJson(data, {
        style: { color: "#000000", fillColor: "#f7f7f7", weight: 5 },
        onEachFeature: onEachFeatureZipCode
      }).addTo(map);
      geojsonlayer.bringToFront();
    });

    $("#pointerSlide").change(function(){
      console.log('changed');
    })


    function onEachFeatureZipCode(feature, layer) {
      layer.on('click', function(e) {
        var selected_zip = feature.properties.postalCode;
        var list = new Array();
        var months = new Array();
        var complaints = new Array();
        var data_array = new Array();
        var population_array = new Array();
        var zipcode_array = new Array();
        var start_month = $("#timeValue1").text();
        var start_year = moment(start_month).format("YYYY-01-DD HH:mm:ss");
        var end_year = moment(start_month).add(1, 'years')._d;
        end_year = moment(end_year).format("YYYY-01-DD HH:mm:ss");
        start_month = moment(start_month).format("YYYY-MM-DD HH:mm:ss");
        end_month = moment(start_month).add(1, 'months')._d;
        end_month = moment(end_month).format("YYYY-MM-DD HH:mm:ss");
        console.log(start_month);
        console.log(end_month);
        console.log(selected_zip);
        $.ajax({
            type: 'GET',
            url: '/zipcode_data',
            async: false,
            contentType: 'application/json;charset=UTF-8',
            data: {zipcode: selected_zip, start_month: start_month, end_month: end_month },
            success: function(response)
            {
              var result = JSON.parse(response);
              var count = 0;
              var total_count = 0;
              var noise_count = 0;
              for(i = 0; i < result.length; i++)
              {
                if(complaints.indexOf(result[i].ComplaintType) == -1)
                {
                  if(result[i].ComplaintType.indexOf("Noise") == -1){
                    complaints.push(result[i].ComplaintType);
                  }
                }
              }
              complaints.push("Noise - Commercial");

              for(j = 0; j < complaints.length; j++)
              {
                for(k = 0; k < result.length; k++)
                {
                      if(result[k].ComplaintType == complaints[j])
                      {
                        count++;
                      }

                }
                total_count += count;
                var obj = {"ComplaintType": complaints[j], "Density": count, "Total": count};
                data_array.push(obj);
                count = 0;
              }
              for(i = 0; i < data_array.length; i++)
              {
                data_array[i].Density = (data_array[i].Density/total_count * 100);
              }
              data_array.sort(function(a, b,)
              {
                return b.Total - a.Total;
              })
              creategraph(data_array);
            }
          })

          $.ajax({
            type: 'GET',
            url: '/population_data',
            async: false,
            contentType: 'application/json;charset=UTF-8',
            data: {start_year: start_year, end_year: end_year},
            success: function(response)
            {
              var result = JSON.parse(response);
              population_data = result[0];
              var complaint_data = result[1];
              for(i = 0; i < complaint_data.length; i++)
              {
                var a = new Array();
                a.push(complaint_data[i].Density);
                var zip = complaint_data[i]._id.ZipCode;
                for(j = 0; j < population_data.length; j++)
                {
                  if(population_data[j].Zip == zip && (zip != 10005 || zip != 11430))
                  {
                    a.push(parseInt(population_data[j].Population));
                  }
                }
                if(a.length == 2 && (a[1] != 884 || a[1] != 11430)){
                      population_array.push(a);
                    }
              }
              for(i = 0; i < population_array.length; i++)
              {
                if(population_array[i][1] == 79 || population_array[i][1] == 884)
                {
                  population_array.splice(population_array[i][1], 1);
                }
              }
              scatterplot(population_array);
            }
          })
      });
    }


    var imgPath = '../static/data311/kdelayer/' +  "unnormalized" + '/' + 'Noise - Residential' + '/' + 'Noise - Residential' + '_' + '0' + '.png';
    var imageUrl = imgPath;
    var imageBounds = [[40.484300, -74.275076], [40.915760, -73.695027]]; //working
      // imageBounds = [[40.495628, -74.255819], [40.913253, -73.700065]]; //min and max
    var finalimage = L.imageOverlay(imageUrl, imageBounds);
    map.addLayer(finalimage);

    function check(complaint) {
      if(map.hasLayer(finalimage)) {
        map.removeLayer(finalimage);
      }

      month = document.getElementById("monthSlider").value;
      normalized = false;
      if (document.getElementById('NormalizedID').checked){
        normalized = true;
      }
      normalized_path = "";
      if(normalized != false) normalized_path = "normalized";
      else normalized_path = "unnormalized";

      imgPath = '../static/data311/kdelayer/' + normalized_path + '/' + complaint + '/' + complaint + '_' + month + '.png';
      imageUrl = imgPath;
      ImageBounds = [[40.484300, -74.275076], [40.915760, -73.695027]]; //working
        // imageBounds = [[40.495628, -74.255819], [40.913253, -73.700065]]; //min and max
      finalimage = L.imageOverlay(imageUrl, imageBounds).addTo(map);
      finalimage.bringToBack();
    }

    function zoomed() {
      features.attr("transform", "translate(" + zoom.translate() + ")scale(" + zoom.scale() + ")")
          .selectAll("path").style("stroke-width", 1 / zoom.scale() + "px" );
    }


    //Position of the tooltip relative to the cursor
    var tooltipOffset = {x: 5, y: -25};

    //Create a tooltip, hidden at the start
    function showTooltip(d) {
      moveTooltip();

      tooltip.style("display","block")
          .text(d.properties.postalCode);

      var zipcode = d.properties.postalCode;

    }

    //Move the tooltip to track the mouse
    function moveTooltip() {
      tooltip.style("top",(d3.event.pageY+tooltipOffset.y)+"px")
          .style("left",(d3.event.pageX+tooltipOffset.x)+"px");
    }

    //Create a tooltip, hidden at the start
    function hideTooltip() {
      tooltip.style("display","none");
    }

    function scatterplot(ds){
      d3.select(".chart").remove();
      for(i = 0; i < ds.length; i++)
      {
        if(ds[0] == 10005)
        {
          console.log('FOUND AT 0');
          console.log(d)
        }
        if(ds[1] == 10005)
        {
          console.log('FOUND AT 0');
        }
      }
      var data = ds;
      var tip = d3.select('body')
        .append('div')
        .attr('class', 'tip')
        .html('Hello world')
        .style('border', '1px solid steelblue')
        .style('padding', '5px')
        .style('position', 'absolute')
        .style('display', 'none')
        .on('mouseover', function(d, i) {
          tip.transition().duration(0);
        })
        .on('mouseout', function(d, i) {
          tip.style('display', 'none');
        });


        var margin = {top: 20, right: 15, bottom: 60, left: 60}
          width = 880 - margin.left - margin.right
          height = 500 - margin.top - margin.bottom;

        var x = d3.scale.linear()
                  .domain([0, d3.max(data, function(d) { return d[0]; })])
                  .range([ 0, width ]);

        var y = d3.scale.linear()
        	      .domain([0, d3.max(data, function(d) { return d[1]; })])
        	      .range([ height, 0 ]);

        var chart = d3.select('body')
    	.append('svg:svg')
    	.attr('width', width + margin.right + margin.left)
    	.attr('height', height + margin.top + margin.bottom)
    	.attr('class', 'chart')
      .style('margin-bottom', '300px')
      .style('margin-left', '200px')

        var main = chart.append('g')
    	.attr('transform', 'translate(' + margin.left + ',' + margin.top + ')')
    	.attr('width', width)
    	.attr('height', height)
    	.attr('class', 'main')

        // draw the x axis
        var xAxis = d3.svg.axis()
    	.scale(x)
    	.orient('bottom');

        main.append('g')
    	.attr('transform', 'translate(0,' + height + ')')
    	.attr('class', 'main axis date')
    	.call(xAxis);

        // draw the y axis
        var yAxis = d3.svg.axis()
    	.scale(y)
    	.orient('left');

        main.append('g')
    	.attr('transform', 'translate(0,0)')
    	.attr('class', 'main axis date')
    	.call(yAxis);

        var g = main.append("svg:g");


        main.append("text")
            .attr("class", "x label")
            .attr("text-anchor", "end")
            .attr("x", "500")
            .attr("y", "500")
            .style('font-size', '12pt')
            .text("Population");

            main.append("text")
                .attr("class", "x label")
                .attr("text-anchor", "end")
                .attr("x", "700")
                .attr("y", "50")
                .style('font-size', '20pt')
                .style('font-weight', 'bolder')
                .text("Population vs. Number of Reported Complaints");

                main.append("text")
                    .attr("class", "x label")
                    .attr("text-anchor", "middle")
                    .attr("x", "-250")
                    .attr("y", "-50")
                    .attr("transform", function(d){
                        return "rotate(-90)"
                    })
                    .style('font-size', '12pt')
                    .style('font-weight', 'bolder')
                    .text("Number of Reported Complaints");

        g.selectAll("scatter-dots")
          .data(data)
          .enter().append("svg:circle")
              .attr("cx", function (d,i) { return x(d[0]); } )
              .attr("cy", function (d) { return y(d[1]); } )
              .attr("r", 8)
              .attr("border-radius", "50%")
              .attr("border", "5px red")
              .on('mouseover', function(d, i) {
                tip.html(function(){
                    for(j = 0; j < population_data.length; j++)
                    {
                      if(d[1] == parseInt(population_data[j].Population))
                      {
                        return 'Zipcode: ' + population_data[j].Zip;
                      }
                    }
                });
                tip.transition().duration(0);
                tip.style('top', '1300px');
                tip.style('margin-left', '1200px');
                tip.style('left', '500px');
                tip.style('font-size', '16pt');
                tip.style('display', 'block');
              })
              .on('mouseout', function(d, i) {
                tip.transition()
                .style('display', 'none');
              })
    }


    function creategraph(ds){
      d3.select(".zipcode-chart").remove();
      var data = ds;
      console.log('data for d3', data);
      var margin = {top: 40, right: 20, bottom: 30, left: 40},
          width = 1200 - margin.left - margin.right,
          height = 500 - margin.top - margin.bottom;

      var formatPercent = d3.format(".0%");

      var x = d3.scale.ordinal()
          .rangeRoundBands([0, width], .1);

      var y = d3.scale.linear()
          .range([height, 0]);

      var xAxis = d3.svg.axis()
          .scale(x)
          .orient("bottom");

      var yAxis = d3.svg.axis()
          .scale(y)
          .orient("left")
          .ticks(10)
          .tickValues([0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100])

      var tip = d3.tip()
        .attr('class', 'd3-tip')
        .offset([-10, 0])
        .html(function(d) {
          return "<strong style='font-size: 16pt;'>Frequency:</strong> <span style='color:green; font-size: 16pt;'>" + d.Density.toFixed(2) + '%' + ' ' + '(' +  d.Total + ')' + "</span>";
        })

      var svg = d3.select("body").append("svg")
          .attr('class', 'zipcode-chart')
          .attr("width", width)
          .attr("height", height)
        .append("g")
          .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

      svg.call(tip);

      // The new data variable.
      // The following code was contained in the callback function.
      x.domain(data.map(function(d) { return d.ComplaintType; }));
      y.domain([0, d3.max(data, function(d) { console.log(d.Density); return d.Density; })]);

      svg.append("g")
          .attr("class", "x axis")
          .attr("transform", "translate(0," + height + ")")
          .call(xAxis)
          .selectAll("text")
            .style("font-size", "12pt")
            .style("text-anchor", "end")
            .attr("transform", function(d){
                return "rotate(-65)"
            })

      svg.append("g")
          .attr("class", "y axis")
          .call(yAxis)
          .append("text")
          .attr("transform", "rotate(-90)")
          .attr("y", 6)
          .attr("dy", ".71em")
          // .selectAll("text")
          //   .style("font-size", "12pt")
          //   .style("text-anchor", "end")
          //   .attr("transform", function(d){
          //       return "rotate(-65)"
          //   })


          svg.append("text")
              .attr("class", "x label")
              .attr("text-anchor", "end")
              .attr("x", "600")
              .attr("y", "600")
              .style('font-size', '12pt')
              .text("Complaint Types");

              svg.append("text")
                  .attr("class", "x label")
                  .attr("text-anchor", "end")
                  .attr("x", "800")
                  .attr("y", "50")
                  .style('font-size', '20pt')
                  .text("Frequency of Complaint Types per Zipcode");

                  svg.append("text")
                      .attr("class", "x label")
                      .attr("text-anchor", "middle")
                      .attr("x", "-250")
                      .attr("y", "-30")
                      .attr("transform", function(d){
                          return "rotate(-90)"
                      })
                      .style('font-size', '12pt')
                      .text("Percentage of Complaints");


      svg.selectAll(".bar")
          .data(data)
        .enter().append("rect")
          .attr("class", "bar")
          .attr("x", function(d) { return x(d.ComplaintType); })
          .attr("width", x.rangeBand())
          .attr("y", function(d) { return y(d.Density); })
          .attr("height", function(d) { return height - y(d.Density); })
          .on('mouseover', tip.show)
          .on('mouseout', tip.hide)

      function type(d) {
        d.Density = +d.Density;
        return d;
      }
    }

  </script>


<!-- jQuery functions go here-->
  <script type="text/javascript">
      $(document).ready(function() {
          //practice
          $('#monthSlider').slider({
            formatter: function(value) {
              return 'Current value: ' + value;
            }
          });

          var monthNames = ["January", "Februrary", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
          var yr = "";
          var month = "";

          var combo_yrMonth = "";

          $("#monthSlider").on("slide", function(slideEvt) {
            month = (slideEvt.value% 12) + 1;
            yr = Math.floor(slideEvt.value/12);

            // just the display
            $("#timeValue1").text(monthNames[month-1] + " 201" + yr);

            if(month < 10) {
              month = "0" + month;
            }
            combo_yrMonth = "201" + yr + "-" + month + "-00" + " 00:00:00";

            // post data
            $("#from").val(combo_yrMonth);
        });
    });

  </script>

</body>
</html>
