<html>
<head>
  <title>A Leaflet map!</title>
  <link rel="stylesheet" href="../static/css/leaflet.css"/>
  <!--   <link rel="stylesheet" href="../static/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="../static/css/slider.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="../static/js/leaflet.js"></script>
  <script src="../static/js/jquery.min.js"></script>
  <script src="../static/js/jquery.min.js"></script>
  <!-- <script src="../static/js/bootstrap-min.js"></script> -->
  <script src="../static/js/bootstrap-slider.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<body>
<!-- Nav bar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">311 Data Visualization</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Complaint Type <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#mapSection"> <input type="radio" name="complaint" onclick="check(this.value)" value="Noise - Residential" checked="true" > Noise - Residential</a></li>
            <li><a href="#mapSection"> <input type="radio" name="complaint" onclick="check(this.value)" value="Street Condition"> Street Condition</a></li>
            <li><a href="#mapSection"><input type="radio" name="complaint" onclick="check(this.value)" value="PLUMBING"> Plumbing</a></li>
            <li><a href="#mapSection"><input type="radio" name="complaint" onclick="check(this.value)" value="Blocked Driveway"> Blocked Driveway</a></li>
            <li><a href="#mapSection"><input type="radio" name="complaint" onclick="check(this.value)" value="Water System"> Water System</a></li>
            <li><a href="#mapSection"><input type="radio" name="complaint" onclick="check(this.value)" value="Street Light Condition"> Street Light Condition</a></li>
            <li><a href="#mapSection"><input type="radio" name="complaint" onclick="check(this.value)" value="Noise"> Noise</a></li>
            <li><a href="#mapSection"><input type="radio" name="complaint" onclick="check(this.value)" value="ELECTRIC"> Electric</a></li>
            <li><a href="#mapSection"><input type="radio" name="complaint" onclick="check(this.value)" value="Dirty Conditions"> Dirty Conditions</a></li>
            <li><a href="#mapSection"><input type="radio" name="complaint" onclick="check(this.value)" value="Noise - Commercial"> Noise - Commercial</a></li>
            <li><a href="#mapSection"><input type="radio" name="complaint" onclick="check(this.value)" value="Damaged Tree"> Damaged Tree</a></li>
            <li><a href="#mapSection"><input type="radio" name="complaint" onclick="check(this.value)" value="Sanitation Condition"> Sanitation Condition</a></li>
            <li><a href="#mapSection"><input type="radio" name="complaint" onclick="check(this.value)" value="Traffic Signal Condition"> Traffic Signal Condition</a></li>
            <li><a href="#mapSection"><input type="radio" name="complaint" onclick="check(this.value)" value="Rodent"> Rodent</a></li>
          </ul>
        </li>
        <li class="dropdown">
        <li><a href="#mapSection"> <input id="NormalizedID" type="radio" name="toggleType" value="Normalized" > Normalized</a></li>
        <li><a href="#mapSection"> <input id="UnnormalizedID" type="radio" name="toggleType" value="Normalized" > Unnormalized</a></li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- End Nav Bar -->

<section id="cover">
    <h1 class="display-3">311 Complaints Data Visualization</h1>
</section>

<section id="mapSection">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div id="map"></div>
      </div>

    <!--slider-->
    <input id="monthSlider" data-slider-id='pointerSlide' type="text" data-slider-min="0" data-slider-max="83" data-slider-step="1" data-slider-value="0" value="0"/>
    <!-- what it says visually for humans-->
    <div class="wrapper">
      <span><span id="timeValue1">January 2010</span></span> <br>
    </div>

    <input id="from" type="hidden" name="from" value="2010-01-00 00:00:00">
<!--       </form> -->
<!--       </div> -->
  </section>


<!--JAVASCRIPT HERE-->
  <script>
    // initialize the map
    var map = L.map('map').setView([40.7128, -74.0059], 11);

    // load a tile layer
    L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png',
      {
        maxZoom: 15,
        minZoom: 11
      }).addTo(map);

    // LOADING ZIPCODES
    var nyczipcodefile = "../static/data311/zipcode/nyczipcodes.geojson";
    $.getJSON(nyczipcodefile, function(data) {
      geojsonlayer = L.geoJson(data, {
        style: { color: "#000000", fillColor: "#f7f7f7", weight: 5 },
        onEachFeature: onEachFeatureZipCode 
      }).addTo(map);
      geojsonlayer.bringToFront();
    });

    function onEachFeatureZipCode(feature, layer) {
      layer.on('click', function(e) {
        console.log(feature.properties.postalCode);

      // You can make your ajax call declaration here
      //$.ajax(... 
      });
    }

    
    var imgPath = '../static/data311/kdelayer/' +  "unnormalized" + '/' + 'Noise - Residential' + '/' + 'Noise - Residential' + '_' + '0' + '.png';
    var imageUrl = imgPath;
    var imageBounds = [[40.484300, -74.275076], [40.915760, -73.695027]]; //working
      // imageBounds = [[40.495628, -74.255819], [40.913253, -73.700065]]; //min and max
    var finalimage = L.imageOverlay(imageUrl, imageBounds);
    map.addLayer(finalimage);

    function check(complaint) {
      if(map.hasLayer(finalimage)) {
        map.removeLayer(finalimage);
      }

      month = document.getElementById("monthSlider").value;
      normalized = false;
      normalized_path = "";
      if(normalized != false) normalized_path = "normalized";
      else normalized_path = "unnormalized";

      imgPath = '../static/data311/kdelayer/' + normalized_path + '/' + complaint + '/' + complaint + '_' + month + '.png';
      imageUrl = imgPath;
      ImageBounds = [[40.484300, -74.275076], [40.915760, -73.695027]]; //working
        // imageBounds = [[40.495628, -74.255819], [40.913253, -73.700065]]; //min and max
      finalimage = L.imageOverlay(imageUrl, imageBounds).addTo(map);
      finalimage.bringToBack();
    }

  </script>


<!-- jQuery functions go here-->
  <script type="text/javascript">
      $(document).ready(function() {
          //practice
          $('#monthSlider').slider({
            formatter: function(value) {
              return 'Current value: ' + value;
            }
          });

          var monthNames = ["January", "Februrary", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
          var yr = "";
          var month = "";

          var combo_yrMonth = "";

          $("#monthSlider").on("slide", function(slideEvt) {
            month = (slideEvt.value% 12) + 1;
            yr = Math.floor(slideEvt.value/12);

            // just the display
            $("#timeValue1").text(monthNames[month-1] + " 201" + yr);

            if(month < 10) {
              month = "0" + month;
            }
            combo_yrMonth = "201" + yr + "-" + month + "-00" + " 00:00:00";

            // post data
            $("#from").val(combo_yrMonth);
        });
    });
  </script>

</body>
</html>